name: release

env:
  NuGetDirectory: ${{ github.workspace}}/nuget

on:
    release:
        types: [created]
jobs:
    release:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Setup .NET
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: 8.0.x
        - name: Restore dependencies
          run: dotnet restore
        - name: Build
          run: dotnet build --no-restore --configuration Release
        - name: Test
          run: dotnet test --no-build --verbosity normal 

        - name: Validate and extract release information
          id: releaseVersion
          uses: nowsprinting/check-version-format-action@v3
          with:
            prefix: 'v'
            
        - name: Print Prerelease
          run: |
            echo "${{ github.event.release.prerelease}}"
            echo "${{ steps.releaseVersion.outputs.is_stable}}"

        - name: Check Prerelease
          if: ${{ github.event.release.prerelease == steps.releaseVersion.outputs.is_stable}}
          uses: actions/github-script@v3
          with:
            script: |
                core.setFailed('Release type not the same')
          
        # Create the NuGet package in the folder from the environment variable NuGetDirectory
        - name: Nuget
          run: dotnet pack --no-build --output ${{ env.NuGetDirectory }} -p:Version=${{ steps.releaseVersion.outputs.full_without_prefix }}
          
        - name: Nuget Push
          run: dotnet nuget push ${{ env.NuGetDirectory }}/*.nupkg --api-key "${{ secrets.ACTION_APIKEY }}" --source https://nuget.pkg.github.com/oliverhunt19/index.json --skip-duplicate
          
        - name: Rollback Release
          if: failure()
          uses: author/action-rollback@stable
          with:
            # Using a tag name
            tag: ${{ github.event.release.tag_name }}
            delete_orphan_tag: true
          env:
            GITHUB_TOKEN: ${{ secrets.ACTION_APIKEY }}
